html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  position:relative;
  outline: none;
}

html, body{
  background: #5f5f5f;
  font-family: "proxima-nova",sans-serif;
  font-size:16px;
  height: 1500px;
}


/*header styles */
header{
  top: 0px;
  height: 75px;
  background: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5500;
  opacity: .8;
  background: rgba(0,0,0,.6);
  min-height: 35px;
}

header .logo {
  background: url(images/twisthink.png) 0 0 no-repeat;
  font-size: 0;
  width: 180px;
  height: 37px;
  display: block;
  margin: 0 auto;
  position: absolute;
  transition: 200ms all ease-in-out;
  top: 15px;
  left: 0;
  right: 0;
}


header .logo-t {
  margin: 0 auto;
  top: -100px;
  position: absolute;
  transition: 200ms all ease-in-out;
  left: 0;
  right: 0;
}

header .logo-t{
  background: url(images/twisthink-T.png) 0 0 no-repeat;
  font-size: 0;
  width: 39px;
  height: 37px;
  display: block;
}


/*white border*/
#border{
  position: fixed;
  width: -webkit-calc(100% - 77px);
  width: -moz-calc(100% - 77px);
  width: calc(100% - 77px);
  border: 3px solid white;
  height: -webkit-calc(100% - 80px);
  height: -moz-calc(100% - 80px);
  height: calc(100% - 80px);
  top: 74px;
  left: 70px;
}

/* logo animation styling */
.pinned-250 header .logo{
  top:-100px;
}
.pinned-250 header .logo-t{
  top: 15px;
  right: 20px;
  width: 40px;
  margin: 0;
  left: auto;
}

.icon-menu {
  color: #fff;
  position: fixed;
  left: 20px;
  top: 19px;
  z-index: 5800;
  font-size: 36px;
}

/*feature text styling */
.feature-text {
  position: fixed;
  width: 100vh;
  background: rgba(113, 163, 3, 0.85);
  z-index: 5700;
  top: 100vh;
  height: 70px;
  transform: rotate(-90deg);
  transform-origin: top left;
  text-align: right;
}

.feature-text b {
  position: relative;
  white-space: nowrap;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  text-transform: uppercase;
  top: 25px;
  right: 120px;
  letter-spacing: 4px;
}

/*navigation styling */
.navigation {
  position: fixed;
  left: 0;
  top: 0;
  border: 0;
  width: 300px;
  background: #90D401;
  z-index: 6000;
  height: 100%;
  transition: all 150ms ease-in-out;
  transform: translateX(-100%);
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.menu-on .navigation {

  transform: translateX(0%);

}
.navigation li a {
  display: block;
  border-bottom: 1px rgba(0,0,0,.2) solid;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  padding: 15px;
  text-decoration: none;
  transition: all 60ms ease-in-out;
}


.navigation .close {
  display: block;
  font-size: 52px;
  color: rgba(0,0,0,.5);
  text-align: right;
  border-bottom: 1px rgba(0,0,0,.2) solid;
  padding: 0px 15px;
  
  text-decoration: none;

}

.navigation li a:hover{
  background:rgba(0,0,0,0.2)
}

/*text. button. link. misc */
p {
  color: #C9C9C9;
  font-size: 1rem;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  max-width: 780px;
  margin: 0 auto;
}

a{
  color: #fff
}
footer a:-webkit-any-link {
  cursor: auto;
  text-decoration: underline;
}
strong, b{
  font-weight: bold;
}

footer img {
  margin-bottom: 2px;
}

h1,h2,h3,h4,h5,h6{
  display: block;
  margin:0;
  padding:0;
  font-size: 32px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  color: #90D401;
  font-family: inherit;
}

h4{
  color: #C9C9C9;
  letter-spacing: 6px;
  padding-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.gallery-image h2{
  color: #fff;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: normal;
}
.gallery-image h3{

  color: #fff;
  font-size: 42px;
  font-weight: 200;
  margin-top: 10px;
}


@media only screen and (max-width: 768px){

  #twist-header{
    opacity: .9;
    background: rgba(0,0,0,.86);
  }

  .feature-text{
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    transform: none;
    text-align: center;
    top: 75px;
    padding: 0px; 
    box-sizing: border-box;
    z-index: 5300;
  }

  .feature-text b{
    display: block;
    top: inherit;
    right: inherit;
    top:0;
    font-size: 15px;
  }

  #border {
    width: -webkit-calc(100% - 6px);
    width: -moz-calc(100% - 6px);
    width: calc(100% - 6px);
    left: 0;
  }

}

/*Button transistion CSS*/


#scroll-top {
  z-index: 8000;
  position: fixed;
  font-size: 30px;
  right: -50px;
  bottom: 10px;
  display: inline-block;
  width: 3em;
  height: 3em;
}

#scroll-top:after {
  content: '';
  display: inline-block;
  margin-top: 1.4em;
  width: 1em;
  height: 1em;
  border-top: 0.3em solid #71a303;
  border-right: 0.3em solid #fff;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#scroll-top.slide-right {
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

#scroll-top.slide-right.in-view {
  opacity: 1;
  right: 5px;
  bottom: 10px;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#scroll-top:hover:after  {
 border-top: 0.3em solid #333;
 border-right: 0.3em solid #333;
}


